

<div class="card">
  <div class="card-header">
    <h2><%= t 'static_pages.registration.edit.edit_profile' %><% resource_name.to_s.humanize %></h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email", placeholder:"Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <br />
      <div class="field">
        <%= f.password_field :current_password, class:"form-control", placeholder:(t 'static_pages.registration.edit.current_password'), autocomplete: "current-password" %>
      </div>

      <br />
      <div class="field form-group">
        <%= f.password_field :password, class:"form-control", placeholder:(t 'static_pages.registration.edit.new_password'), autocomplete: "new-password" %>
      </div>
      <br />
      <div class="field form-group">
      <%= f.password_field :password_confirmation, class:"form-control", placeholder:(t 'static_pages.registration.edit.re-enter_new_password'), autocomplete: "new-password" %>
      </div>



      <br />
      <div class="actions">
        <%= f.submit (t 'static_pages.registration.edit.update'),  class:"btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
<br /><br />
<div class="card">
  <div class="card-header">
    <h3><%= t 'static_pages.registration.edit.cancel_account' %></h3>
  </div>
  <div class="card-body">
    <p><%= t 'static_pages.registration.edit.unhappy' %> <%= button_to (t 'static_pages.registration.edit.cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
    <%= link_to (t 'global.menu.back'), :back %>
  </div>
</div>




