
<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <h1><%= t 'static_pages.home.index.friend_list' %></h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th><%= t 'activerecord.attributes.friend.id' %></th>
        <th><%= t 'activerecord.attributes.friend.first_name' %></th>
        <th><%= t 'activerecord.attributes.friend.last_name' %></th>
        <th><%= t 'activerecord.attributes.friend.dob' %></th>
        <th><%= t 'activerecord.attributes.friend.email' %></th>
        <th><%= t 'activerecord.attributes.friend.phone' %></th>
        <th><%= t 'activerecord.attributes.friend.created_by' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td><%= friend.id %></td>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= friend.dob %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.user_id %></td>
            <td><%= link_to (t 'static_pages.friend.form.show'), friend %></td>
            <td><%= link_to (t 'static_pages.friend.form.edit'), edit_friend_path(friend) %></td>
            <td><%= link_to (t 'static_pages.friend.form.destroy'), friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to ( t 'static_pages.friend.new.add_friend'), new_friend_path, class:"btn btn-dark" %>
<% else %>
  <h1><%= t 'static_pages.home.index.hello_world' %></h1>
  <h2><%= t 'static_pages.home.index.app_desc' %></h2>
<% end %>